.group {
  position: sticky;
  position: -webkit-sticky;
  background-color: var(--text-primary);
  color: var(--text-secondary);
  top: -1px;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 16px;
}

.daySlots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  padding: 24px;
}

.baseSlot {
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}

.slot {
  cursor: pointer;
}

.slot:hover {
  background-color: var(--color-primary-light);
}


.blockSlot {
  cursor: not-allowed;
  background-color: var(--color-gray);
}

.slotSelected {
  background-color: var(--color-primary);
  color: var(--text-secondary)
}

.slotSelected:hover {
  background-color: var(--color-primary-dark);
}

