.group {
  position: sticky;
  position: -webkit-sticky;
  background-color: lightblue;
  top: -1px;
}

.daySlots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.slot {
  cursor: pointer;
}

.slot:hover {
  background-color: lightcyan;
}

.slotSelected {
  background-color: lightskyblue;
}

.slotSelected:hover {
  background-color: skyblue;
}


.blockSlot {
  cursor: not-allowed;
  background-color: lightgray;
}