.company {
  background-color: white;
  border-radius: 8px;
}

.companyTitle {
  margin: 16px;
  text-transform: uppercase;
}

.slotList {
  max-height: calc(100vh - 350px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slotList::-webkit-scrollbar {
  display: none;
}
