.company {
  background-color: white;
  border-radius: 8px;
}

.slotList {
  height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slotList::-webkit-scrollbar {
  display: none;
}
