.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 16px;
    background-color: var(--color-gray-light);
    border-radius: 8px;
    padding: 8px;
}

.message {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.slot {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slot p {
    font-weight: bold;
    font-size: large;
    color: var(--color-primary);
    margin: 0 8px
}

.trash {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.trash svg path {
    fill: var(--text-primary)
}