html {
  --color-surface: #dddddd;
  --color-primary-light: #fbe0b6;
  --color-primary: #e69c2d;
  --color-primary-dark: #ca9038;
  --color-gray: #D3DAE5;
  --color-gray-light: #ebeef3;
  --text-primary: #253543;
  --text-secondary: #FAFAFA;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-surface);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  border-radius: 4px;
}

* {
  color: var(--text-primary)
}


h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
