html {
  --color-surface: #f6f6f6;
  --color-primary-light: #E2F4FF;
  --color-primary: #0066FF;
  --color-primary-dark: #2341E0;
  --color-gray: #D3DAE5;
  --text-primary: #4F596A;
  --text-secondary: #FAFAFA;
}

body {
  background-color: var(--color-surface);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: azure;
  padding: 2px 4px;
  border-radius: 4px;
}


h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
